###> Yarn ###
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
###< Yarn ###

coverage/
cjs/
dist/
dist-ssr/
dts/
esm/
mjs/
tmp/
umd/

###> Vite ###
.vite-ssg-temp
.caddy-build
###< Vite ###

###> Node ###
node_modules/
build/
###< Node ###

###> Moon ###
.moon/cache
.moon/dts
.moon/logs
.moon/hooks
###< Moon ###

tsconfig.tsbuildinfo

###> JetBrain/PHPStorm ###
# Ignore all of .idea folder by default
.idea/*

# Allow some project-specific settings
!.idea/codeStyles/
!.idea/deployment.xml
!.idea/modules.xml
!.idea/vcs.xml
!.idea/workspace.xml

# Ignore user-specific or OS-specific settings
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/libraries
.idea/assetWizardSettings.xml
.idea/jsLibraryMappings.xml
.idea/shelf

# Ignore IDE caches
.idea/dataSources/
.idea/dataSources.ids
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/httpRequests
.idea/inspectionProfiles
.idea/runConfigurations/
###< JetBrain/PHPStorm ###

###> Project ###
# Public folder
projects/**/public/*

# Allow some files
!projects/**/public/static/
!projects/**/public/robots.txt

# Env files
projects/**/*.local
###< Project ###

###> System files ###
.DS_Store
###< System file ###